body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
}

.top-banner .half-width {
    padding-left: 5%;
}

.flexible-container {
    display: flex;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.half-width img {
    width: 80%;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;
    margin-bottom: 150px;
}

.dream-big .half-width {
    padding-right: 10%;
}

.experience-area {
    margin-bottom: 150px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.experience-item {
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin: 0 5%;
    padding: 20px 40px 150px;
}

.experience-item.ex-1 {
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}

.experience-item.ex-2 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}